@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {}


@layer utilities {

  .navBackground {
    background-color: blueviolet;
    display: none;
  }

  .navBackground.show {
    display: block;
    /* Show the navigation menu */
  }


  .navCanvas {
    background-color: rgb(226, 43, 101);
  }

  .menuIcon {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    right: 25px;
    top: 25px;
    z-index: 999;
    cursor: pointer;

  }

}